* {
    padding: 0;
    margin: 0;
}

/* header */

header {
    background-image: url(../images/header-bg-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar-light .navbar-nav .nav-item {
    padding-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    position: relative;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #008ed6;
    position: absolute;
    transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    bottom: -10px;
    right: 0;
    height: 2px;
    width: 0;
    background-color: #008ed6;
    position: absolute;
    transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 47%;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 47%;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.banner {
    height: 80vh;
    align-items: center;
}

.banner h5 {
    color: #008ed6;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner h1 {
    color: #fff;
    padding: 22px 0;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner p {
    font-size: 23px;
    color: #999999;
    line-height: 32px;
    padding-bottom: 20px;
}

.btn-download {
    padding: 0;
    padding: 14px 20px;
    background: #008ed6;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #008ed6;
    transition: .5s all ease-in-out;
}

.btn-download:focus {
    box-shadow: none;
}

.btn-download:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 5px;
}

.btn-features {
    padding: 0;
    padding: 14px 25px;
    border: 1px;
    border: 1px solid #999999;
    text-transform: uppercase;
    color: #fff;
    margin-left: 30px;
    transition: .5s all ease-in-out;
}

.btn-features:focus {
    box-shadow: none;
}

.btn-features:hover {
    color: #fff;
    background-color: #008ed6;
    border: 1px solid #008ed6;
    border-radius: 5px;
}

.images {
    position: absolute;
    bottom: 0;
}

/* header */

/* Product overview */

.overview {
    padding: 70px 0;
    border-bottom: 1px solid #999999;
}

.same-design {
    padding: 50px 0;
    text-align: center;
}

.same-design span {
    display: inline-block;
    height: 3px;
    width: 60px;
    position: relative;
}

.same-design span::before {
    content: '';
    bottom: 0;
    left: 0;
    background-color: #008ed6;
    height: 100%;
    width: 0;
    position: absolute;
    transition: .5s all ease-in-out;
}

.same-design span::after {
    content: '';
    bottom: 0;
    right: 0;
    background-color: #008ed6;
    height: 100%;
    width: 0;
    position: absolute;
    transition: .5s all ease-in-out;
}

.overview:hover .same-design span::before {
    width: 47%;
}

.overview:hover .same-design span::after {
    width: 47%;
}

.same-design h1 {
    text-transform: uppercase;
    padding-top: 22px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
}

.same-design h5 {
    text-transform: uppercase;
    color: #008ed6;
    font-family: 'Source Sans Pro', sans-serif;
}

.overview i {
    height: 70px;
    width: 70px;
    font-size: 28px;
    border: 1px solid #e0e0e0;
    line-height: 70px;
    border-radius: 50%;
    color: #008ed6;
    transition: .5s all ease-in-out;
}

.overview i:hover {
    background: #008ed6;
    color: #fff;
}

.overview h2 {
    padding: 10px 0;
    color: #1a1a1a;
    font-family: 'Source Sans Pro', sans-serif;
}

.overview p {
    padding-bottom: 15px;
    color: #999999;
    font-size: 22px;
    line-height: 32px;
}

/* Product overview */

/* Beautifil device */

.Beautiful-on-device {
    padding: 60px 0;
}

.Beautiful-on-device img {}

.same-design1 {}

.same-design1 span {
    display: inline-block;
    height: 3px;
    width: 60px;
    position: relative;
}

.same-design1 span::before {
    content: ' ';
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #008ed6;
    position: absolute;
    transition: .5s all ease-in-out;
}

.same-design1 span::after {
    content: ' ';
    bottom: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: #008ed6;
    position: absolute;
    transition: .5s all ease-in-out;
}

.Beautiful-on-device:hover .same-design1 span::before {
    width: 47%;
}

.Beautiful-on-device:hover .same-design1 span::after {
    width: 47%;
}

.same-design1 h5 {
    text-transform: uppercase;
    color: #008ed6;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.same-design1 p {
    color: #999999;
    font-size: 23px;
    line-height: 32px;
    padding: 20px 0;
}

.same-design1 h1 {
    color: #1a1a1a;
    font-weight: 700;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

.Beautiful-on-device i {
    color: #008ed6;
    font-size: 20px;
}

.Beautiful-on-device span {
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.Beautiful-on-device span .icon-responsive {}

/* Beautifil device */

/* Easy customization */

.easy-customization {
    background: #f2f2f2;
    padding-top: 120px;
}

.easy-customization span::before {}

.easy-customization span::after {}

.easy-customization:hover .same-design1 span::before {
    width: 47%;
}

.easy-customization:hover .same-design1 span::after {
    width: 47%;
}

/* Easy customization */

/* Pricing */

.pricing {
    background-image: url(../images/Pricing.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.pricing:hover .same-design span::before {
    width: 47%;
}

.pricing:hover .same-design span::after {
    width: 47%;
}

.same {}

.same p {
    color: #fff;
}

.same img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.pricing p {
    color: #fff;
    font-style: italic;
}

.client {
    display: flex;
}

.client img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.client h6 {
    color: #fff;
    margin-left: 15px;
}

.client h4 {
    margin-top: 31px;
    margin-left: -65px;
    color: #fff;
}

/* Pricing */

/* owl */

.owl-nav {
    display: none;
}

.owl-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    margin: 0px 2px;
    border: 1px solid #fff;
    margin-top: 50px;
}

.owl-dots .active span {
    background: #fff;
}

.owl-dots {
    text-align: center;
}

/* owl */

/* Whats look like */

.like_what_see {
    background: #000;
    padding: 50px;
}

.like_what_see h6 {
    color: #fff;
}

.like_what_see h6 span {
    font-weight: normal;
}

.like_what_see button {}

.like_what_see .view {
    padding: 0;
    margin: 0;
    padding: 12px 20px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    background: transparent;
    margin: 0px 6px;
    border: 1px solid #999;
    transition: .5s all ease-in-out;
    border-radius: 5px;
}

.like_what_see .view:hover {
    padding: 0;
    margin: 0;
    padding: 12px 20px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    background: #008ed6;
    margin: 0px 6px;
    border: 1px solid #008ed6;
}

.like_what_see .download {
    padding: 0;
    margin: 0;
    padding: 12px 9px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    background: #008ed6;
    margin: 0px 6px;
    transition: .5s all ease-in-out;
    border-radius: 5px;
}

.like_what_see .download:hover {
    padding: 0;
    margin: 0;
    padding: 12px 9px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    background: transparent;
    margin: 0px 6px;
    border: 1px solid #999;
    border-radius: 5px;
}

.price h1 {
    color: #fff;
}

/* Whats look like */

/* Quality */

.quality {
    background: #ffffff;
    padding: 50px 0;
}

.quality:hover .same-design span::before {
    width: 47%;
}

.quality:hover .same-design span::after {
    width: 47%;
}

.quality {}

.quality h2 {
    /* border-bottom: 1px solid #e0e0e0; */
    padding: 20px 0;
    font-size: 40px;
    transition: .5s all ease-in-out;
}

.quality h3 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 50px;
}

.quality span {
    color: #999999;
    transition: .5s all ease-in-out;
}

.quality p {
    padding: 20px 35px;
    color: #999;
}

.quality button {
    border: none;
    padding: 0;
    padding: 15px 25px;
    background: transparent;
    border: 1px solid #e0e0e0;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #008ed6;
    border-radius: 5px;
    transition: .5s all ease-in-out;
}

.free {
    border: 1px solid #e0e0e0;
}

.per_month {
    border-top: 1px solid #e0e0e0;
    /* border-top: 1px solid; */
    padding: 0;
    padding-top: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #e0e0e0;
    transition: .5s all ease-in-out;
}

.free:hover h2 {
    color: #008ed6;
}

.free:hover .per_month {
    background: #008ed6;
    color: #fff;
}

.free:hover .per_month span {
    color: #fff;
}

.free:hover button {
    color: white;
    background: #008ed6;
}

/* Quality */

/* contact us */

.Contact_us {
    background: #ededed;
    padding: 80px 0;
    position: relative;
    padding-bottom: 225px;
}

.Contact_us:hover .same-design span::before {
    width: 47%;
}

.Contact_us:hover .same-design span::after {
    width: 47%;
}

.mobile {
    color: #999;
}

.mobile h5 {
    font-size: 18px;
}

.mobile h6 {
    font-size: 18px;
}

.address {
    color: #999;
}

.address h4 {
    font-size: 18px;
}

.address h5 {
    font-size: 18px;
}

.address h6 {
    font-size: 18px;
}

.mail {
    color: #999;
}

.mail h4 {
    font-size: 18px;
}

.Contact_us i {
    font-size: 32px;
    color: #008ed6;
    paddint: 0;
    padding: 10px 0;
    padding-bottom: 20px;
}

.contact_form {
    background: #000;
    padding: 50px;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75%;
}

.contact_form form {}

.contact_form form input {
    background: transparent;
    caret-color: #fff;
}

.contact_form form textarea {
    background: transparent;
    caret-color: #fff;
    caret-color: #fff;
    border: 1px solid #fff;
}

.contact_form form textarea:focus {
    border: 1px solid #fff;
}

.contact_form form input:focus {
    color: #212529;
    background-color: transparent;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.contact_form form input[type='submit'] {
    color: #fff;
    padding: 0;
    padding: 10px 15px;
    background: #008ed6;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    margin-top: 10px;
    /* width: 50%; */
    margin-left: 122px;
    font-weight: 500;
}

.contact_form form input[type='submit']:hover {
    background-color: #1996d6;
}

/* contact us */

/* Footer */

.footer {
    background: #000;
    padding: 40px 0;
}

.footer p {
    color: #444348;
    padding-top: 20px;
    font-weight: 600;
}

.footer i {
    color: #444348;
    width: 35px;
    font-size: 20px;
    transition: .5s all ease-in-out;
}

.footer i:hover {
    color: #008ed6;
}

/* Footer */